

input, select, textarea ,  input:focus {
    color: #ff0000;
    text-shadow: #000;
}

table .collapse {
    display: table-row !important;
}  

.form-control:focus{
    color:black;
 }
 text{
    color: #000;
 }

 .custom-input {
    color:   black;
    ; /* Set your desired text color */
  }
  























































































































 
 